{% extends 'commons/base.html' %}

{% block content %}
    <h1>{% block title %} Bairros {% endblock %}</h1>
    <hr>
   
    {% for bairro in bairros %}
        <form class="form-inline" action="{{ url_for('bairro_edit', name=bairro.name) }}" method="POST">
            
            <div class="form-group mr-5">
                <input style="min-width:40em" type="text" class="form-control" id="inputNome" name="name" placeholder="Nome" disabled value="{{ bairro.name }}">
            </div>
            <div class="form-group mr-5">
                <input type="checkbox" name="starred" class="mr-1" {{ 'checked="checked"' if bairro.starred else "" }}>
                <i class="bi bi-heart-fill text-success mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Destaque"></i>
            </div>
            <div class="form-group mr-5">
                <input type="checkbox" name="discarded" class="mr-1" {{ 'checked="checked"' if bairro.discarded else "" }}>
                <i class="bi bi-x-octagon-fill text-danger mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Descartar"></i>
            </div>
            <div class="form-group mr-5">
                <input type="checkbox" name="checked" class="mr-1" {{ 'checked="checked"' if bairro.checked else "" }}>
                <i class="bi bi-eye-fill text-info mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Verificado"></i>
            </div>
            <div class="form-group mr-5">
                <a href="https://www.google.com/maps/place/{{ bairro.name }},+Jundia" target="_blank">
                    <i class="bi bi-geo-alt-fill" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Mostrar no Mapa"></i>
                </a>
            </div>
            <button type="submit" class="btn btn-outline-success">
                <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
                <i class="bi bi-folder-check" style="font-size: 1.2em" data-toggle="tooltip" data-placement="top" title="Salvar"></i>
            </button>
        </form>
        <hr>
    {% endfor %}
{% endblock %}