{% extends 'commons/base.html' %}

{% block content %}
    <h1>{% block title %} Imóveis - Viva Real {% endblock %}</h1>
    <hr>


        <form class="form-inline" action="{{ url_for('imoveis_viva_real') }}" method="get">
            <div class="form-row">
                <label class="sr-only" for="price_max">Preço Máx.</label>
                <div class="input-group  col-md-6 mr-5">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Preço Máx.</div>
                    </div>
                    <input type="text" name="price_max"  id="price_max" class="form-control mr-1">
                </div>

                <button type="submit" class="btn btn-outline-success">
                    <i class="fas fa-search" style="font-size: 1.2em" data-toggle="tooltip" data-placement="top" title="Consultar"></i>
                    Consultar
                </button>
        </form>
    </div>
    <hr class="mb-4">

{% for casa in casas %}

    {# {{ casa }} <br> #}

    <div class="card mb-5">
        <div class="card-header">
            <div class="col">
                    <a class="align-middle" href="{{ casa['href'] }}" target="_blank" class="card-link" data-toggle="tooltip" data-placement="top" title="Visitar anúncio">
                        <h5 class="card-title"><b>{{ loop.index }}</b> - {{ casa.title }}</h5>
                    </a>
                </div>
        </div>
        <div class="card-body">
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">
                {{ casa.description | safe}}
            </p>
            <p class="card-text">
                {{ casa.businessType | replace('SALE', 'VENDA') | replace('RENTAL', 'ALUGUEL') }}
            </p>

        </div>

        <div class="card-body text-secondary">

            <div class="row mb-3">
                <div class="col">
                    <small class="align-middle">
                        <i class="fas fa-map-marked-alt mr-1" style="font-size: 2em" data-toggle="tooltip" data-placement="top" title="Bairro"></i>
                        <span style="font-size: 1.8em" class="align-middle">
                            {% if casa.neighborhood %}
                                <a href="https://www.google.com/maps/place/{{ casa.neighborhood }},+Jundia" target="_blank">
                                        {{ casa.neighborhood }}
                                </a>
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </small>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <small class="align-middle">
                        <i class="fas fa-money-bill-wave  mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Valor venda"></i>
                        <span class="align-middle">
                            {% if casa.price >= 0 %}
                                {{ casa.price | br_currency }}
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </small>
                </div>
                <div class="col">
                    <small class="align-middle">
                        <i class="fas fa-swimming-pool  mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Condomínio"></i>
                        <span class="align-middle">
                            {% if casa.monthlyCondoFee >= 0 %}
                                {{ casa.monthlyCondoFee | br_currency }}
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </small>
                </div>
                <div class="col">
                    <small class="align-middle">
                        <i class="fas fa-city  mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="IPTU"></i>
                        <span class="align-middle">
                            {% if casa.yearlyIptu >= 0 %}
                                {{ casa.yearlyIptu | br_currency }}
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </small>
                </div>
                <div class="col">
                    <small class="align-middle">
                        <i class="fas fa-home  mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Área Construída"></i>
                        <span class="align-middle">
                            {% if casa.usableAreas >= 0 %}
                                {{ casa.usableAreas | br_float }}m² ({{ casa.price_per_usableAreas | br_currency}}/m²)
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </small>
                </div>

                <div class="col mb-3">
                    <small class="align-middle">
                        <i class="fas fa-vector-square  mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Área Total"></i>
                        <span class="align-middle">
                            {% if casa.totalAreas >= 0 %}
                                {{ casa.totalAreas | br_float }}m²
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </small>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ casa.image1 }}" class="img-thumbnail" alt="Image1">
                </div>
                <div class="col">
                    <img src="{{ casa.image2 }}" class="img-thumbnail" alt="Image2">
                </div>
                <div class="col">
                    <img src="{{ casa.image3 }}" class="img-thumbnail" alt="Image3">
                </div>
            </div>
        </div>

        <div class="card-footer">

            <form class="form-inline" action="{{ url_for('imoveis_viva_real_edit', id=casa.id) }}" method="POST">
            <div class="form-group mr-5">
                <input type="checkbox" name="starred" class="mr-1" {{ 'checked="checked"' if casa.starred else "" }}>
                <i class="bi bi-heart-fill text-success mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Destaque"></i>
            </div>
            <div class="form-group mr-5">
                <input type="checkbox" name="discarded" class="mr-1" {{ 'checked="checked"' if casa.discarded else "" }}>
                <i class="bi bi-x-octagon-fill text-danger mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Descartar"></i>
            </div>
            <div class="form-group mr-5">
                <input type="checkbox" name="checked" class="mr-1" {{ 'checked="checked"' if casa.checked else "" }}>
                <i class="bi bi-eye-fill text-info mr-1" style="font-size: 1.5em" data-toggle="tooltip" data-placement="top" title="Verificado"></i>
            </div>

            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-folder-check" style="font-size: 1.2em" data-toggle="tooltip" data-placement="top" title="Salvar"></i>
            </button>
        </form>
        </div>
    </div>

{% endfor %}




{% endblock %}